<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- polyfills -->
        <script src=""node_modules/core-js/client/shim.min.js></script>

        <!-- vendor -->
        <script src=""node_modules/zone.js/dist/zone.js></script>
        <script src=""node_modules/reflect-metadata/Reflect.js></script>
        <script src=""node_modules/systemjs/dist/system.src.js></script>

        <script>
        System.import ('system.config.js').then (function(){
            System.import('app');
        }).catch (function(err) {
            console.error(err);
        });
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
